// out: style.min.css, compress: true, nib: true

body
  margin 8px

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

.mui-textfield > input:disabled, .mui-textfield > input:-moz-read-only,
.mui-textfield > textarea:disabled,
.mui-textfield > textarea:-moz-read-only {
  cursor: text;
  background-color: transparent;
  opacity: 1;
}

ul
  list-style-type none

profilesMrgnR = 45px
profilesMrgnL = profilesMrgnR - 40px

.profiles
  border solid
  margin 0 profilesMrgnR 10px profilesMrgnL
  padding 5px

footer
  width 315px
  margin auto

  :first-child
    text-align center

// .checkbox
// 	display none
//
// .label
// 	cursor pointer
// 	border 2px solid
// 	padding 5px
// 	transition color 0.3s ease-in
//
// .checkbox:checked ~ .label
// 	color rgb(63, 195, 128)
