<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Twitter Mates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/favicon.ico" />
    <link href="//cdn.muicss.com/mui-0.3.0/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../static/css/style.min.css">
  </head>

  <body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5VWNBT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5VWNBT');</script>
    <!-- End Google Tag Manager -->

    <h1 class="mui--text-center">Find friends on Twitter</h1>
    <div class="mui-container">
      <form method="post" action="result" class="mui-row">

        <div class="mui-col-xs-12 mui-textfield">
          <input oninput="EnDisSearchBtn()" name="query" type="text" placeholder='Your query. E.g. "entrepreneur"'>
        </div>

        <label class="mui-col-xs-12" for="followers/following">Less than or equal to followers / following ratio</label>
        <div class="mui-col-xs-12 mui-textfield">
          <input id="followers/following" type="number" step="any" name="ratio" placeholder="E.g. 1.5">
        </div>

        <div class="mui--text-center">
          <input disabled id="searchBtn" type="submit" class="mui-btn mui-btn--primary" value="Search for mates">
        </div>

      </form>
    </div>

    {% block result %}
    {% endblock %}

    <div class="mui--text-center">
      {{error}}
    </div>

    <footer>
      <p>Made with love by <a target="_blank" href="https://AxoSal.surge.sh">Axo Sal</a></p>

      <p data-height="324" data-theme-id="0" data-slug-hash="GojdXm" data-default-tab="result" data-user="AxoSal" class='codepen'>
        See the Pen <a href='https://codepen.io/AxoSal/pen/GojdXm/'>owl carousel</a>
        by Axo Sal (<a href='https://codepen.io/AxoSal'>@AxoSal</a>) on
        <a href='https://codepen.io'>CodePen</a>.
      </p>
      <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    </footer>

    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
    <script src="//cdn.muicss.com/mui-0.3.0/js/mui.min.js"></script>
    <script src="../static/js/app.js"></script>

  </body>

</html>
