{% extends "index.html" %}

{% block result %}

<div class="mui--text-center">
  <button onclick="openAllInNewTabs()" class="mui-btn mui-btn--accent">open all profiles in new tabs</button>
  <p>You need to allow pop-ups in order to do so</p>
</div>

<script>
  var profiles = [];
  function openAllInNewTabs() {
    for (var i in profiles) {
      window.open(profiles[i]);
    }
  }
</script>

<ul>
  {% for i in resp %}

    <div class="profiles">
      <li>{{i.name}}</li>
      <li><a target="_blank" href="https://twitter.com/{{ i.screen_name }}">@{{ i.screen_name }}</a></li>
      <li>{{i.bio}}</li>
      <li>Following: {{i.following}}</li>
      <li>Followers: {{i.followers}}</li>
    </div>

    <script>
      profiles.push("https://twitter.com/{{ i.screen_name }}");
    </script>

  {% endfor %}
</ul>

{% endblock %}
